.page-wrapper {
  min-height: 100vh;
  height: auto;

  /*PAGE CONTENT TOGGLE*/
  &.toggled {
    .page-content {
      padding-left: 260px;

      @media screen and (max-width: 767.98px) {
        padding-left: 0px;
      }
    }
  }

  .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    transition: padding-left 0.5s ease;

    /*Overlay when sidebar shown on mobile devices*/
    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none;

      &.show {
        @media screen and (max-width: 767.98px) {
          display: block;
        }
      }
    }
  }
}

/*DASHBOARD CONTENT*/
.dashboard-content {
  padding: 1rem 0.5rem;

  .card {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 30%);

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 35%);
      transform: translateY(-2%);
    }
  }

  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-body {
    padding: 1rem 1rem;
  }

  .card-title {
    font-size: 1rem;
    color: #101010;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0;
  }

  .card-subtitle {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0;
  }
}
