/*Variables SCSS*/
$font-family: 'Lato',
sans-serif;
$color-white: #FFFFFF;
$color-black: #202020;
$color-gray: #424242;
$color-yellow: #FFCC00;
$color-lightblue: #00C8E0;
$color-red1: #FF0033;
$color-red2:#FF0020;
/*Paleta de colores*/
$color-logo1: #2b6ca3;
$color-logo2: #045184;
$color-logo3:#5BC9DE;
$color-logo4: #48A8D4;
$color-logo5: #9CCFE9;
/*Sidebar gradient colors*/
$sidebar-color1:#302b63;
$sidebar-color2:#24243e;
$sidebar-color3:#0f0c29;
$sidebar-menu-color1:#423b8a;
$sidebar-menu-color2:#383861;
$sidebar-menu-color3:#1f1958;
