<footer class="footer-bg">
  <div class="container-md inside-footer">
    <div class="row content-text py-3">
      <div class="col-12 col-md-8 mb-2 mb-md-0">
        <a [routerLink]="['/home']">
          <div class="div-logo-text">
            <img class="logo me-3" src="../../../assets/img/logos/Logo-PECS3.webp" alt="PECS-img">
            <div class="text-beside-img">PROGRAMA DE EDUCACIÓN CONTINUA EN SALUD DE LA FACULTAD DE CIENCIAS
              MÉDICAS
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 text-end my-auto">
        <div class="footer-icons">
          <a href="https://www.facebook.com/PECSFCMUNAH" target="_blank" class="light-link">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/edusaludfcm/" target="_blank" class="light-link">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="container-md inside-footer py-5">
      <div class="row pb-5">
        <div class="col-12 col-md-6 text-center text-md-start">
          <h6 class="mb-3">Enlaces</h6>
          <ul class="content-text">
            <li><a href="https://edufcm.unah.edu.hn" target="_blank" class="light-link">Sitio EDUFCM</a></li>
            <li><a href="https://www.educacioncontinuafcm.com" target="_blank" class="light-link">Sitio PECS</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-6 text-center text-md-start">
          <h6 class="mb-3">Contáctenos</h6>
          <ul class="content-text">
            <li>Tegucigalpa, M.D.C., Calle La Salud, Instalaciones de la
              Facultad de Ciencias Médicas</li>
            <li><a href="mailto:eduvirtualfcm@unah.edu.hn" class="light-link">eduvirtualfcm@unah.edu.hn</a>,
              <a href="mailto:educacionfcm@unah.edu.hn" class="light-link">educacionfcm@unah.edu.hn</a></li>
          </ul>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-12 text-center">
          <div class="logo-group">
            <img src="../../../assets/img/logos/Logo-FUNDAUNAH.webp" alt="FUNDAUNAH-img">
          </div>
          <div class="logo-group">
            <a href="https://fcm.unah.edu.hn" target="_blank"><img src="../../../assets/img/logos/Logo-FCM2.webp"
                alt="FCM-img"></a>
          </div>
          <div class="logo-group">
            <a href="https://www.unah.edu.hn" target="_blank"><img src="../../../assets/img/logos/Logo-UNAH.webp"
                alt="UNAH-img"></a>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <span style="font-size: 1rem;"><b class="me-3">&copy;PECS LMS</b>Derechos Reservados
          {{fechaActual.getFullYear()}}
          Universidad Nacional
          Autónoma de Honduras</span>
      </div>
    </div>
  </div>
</footer>
