<div id="login-page">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <!--Lado izquierdo-->
      <div class="d-none d-lg-block col-lg-7 col-info-login">
        <section id="div-info-login" class="parent-center-y">
          <!--Div centrado verticalmente-->
          <div class="div-center-y">
            <div class="title-text fw-bold pb-4">
              <h2 class="fw-bold">PROGRAMA DE</h2>
              <h2 class="fw-bold">EDUCACIÓN CONTINUA</h2>
              <h2 class="fw-bold">EN SALUD</h2>
              <ul>
                <li>UNIVERSIDAD NACIONAL AUTÓNOMA DE HONDURAS</li>
                <li>FACULTAD DE CIENCIAS MÉDICAS</li>
                <li>FUNDAUNAH</li>
              </ul>
            </div>
            <div class="logo-group">
              <img src="../../../assets/img/logos/Logo-FUNDAUNAH.webp" alt="FUNDAUNAH-img">
            </div>
            <div class="logo-group">
              <a href="https://fcm.unah.edu.hn"><img src="../../../assets/img/logos/Logo-FCM2.webp" alt="FCM-img"></a>
            </div>
            <div class="logo-group">
              <a href="https://www.unah.edu.hn"><img src="../../../assets/img/logos/Logo-UNAH.webp" alt="UNAH-img"></a>
            </div>
          </div>
          <!---->
        </section>
      </div>
      <!--Lado derecho-->
      <div class="col-12 col-lg-5 col-login">
        <section id="div-login" class="parent-center-y">
          <div class="div-center-y">
            <section id="login">
              <div class="text-center mb-3">
                <a [routerLink]="['/home']"><img src="../../../assets/img/logos/Logo-PECS.webp" width="140"
                    alt="PECS-img"></a>
              </div>
              <h1 class="mb-3">Inicio de Sesión</h1>
              <form [formGroup]="formularioLogin" (ngSubmit)="checkLoginType()">
                <div class="div-input mb-4">
                  <i class="fas fa-user icon-input"></i>
                  <input
                    [ngClass]="{'form-input-error border-bottom':f['userEmail']?.invalid && (f['userEmail']?.dirty || f['userEmail']?.touched)}"
                    type="text" class="input-login" formControlName="userEmail" required>
                  <span class="floating-label">Usuario o correo electrónico</span>
                  <span *ngIf="f['userEmail']?.invalid && (f['userEmail']?.dirty || f['userEmail']?.touched)"
                    class="form-error">
                    <span *ngIf="f['userEmail']?.errors?.['required']">El campo es requerido</span>
                  </span>
                </div>
                <div class="div-input mb-2">
                  <i class="fas fa-lock icon-input"></i>
                  <input
                    [ngClass]="{'form-input-error border-bottom':f['password']?.invalid && (f['password']?.dirty || f['password']?.touched)}"
                    #inputPassword type="password" class="input-login" formControlName="password" required>
                  <span class="floating-label">Contraseña</span>
                  <i class="fas fa-eye-slash icon-password" (click)="mostrarPassword(inputPassword)"
                    *ngIf="inputPassword.type === 'password'"></i>
                  <i class="fas fa-eye icon-password" (click)="mostrarPassword(inputPassword)"
                    *ngIf="inputPassword.type === 'text'"></i>
                  <span *ngIf="f['password']?.invalid && (f['password']?.dirty || f['password']?.touched)"
                    class="form-error">
                    <span *ngIf="f['password']?.errors?.['required']">El campo es requerido</span>
                  </span>
                </div>
                <div class="clearfix mb-4">
                  <a class="dark-link float-end" href="#">¿Olvidaste la contraseña?</a>
                </div>
                <div class="mb-4">
                  <button class="btn" type="submit">Ingresar</button>
                </div>
              </form>
              <div>
                <a style="font-size: 16px;" class="dark-link" [routerLink]="['/signup']">
                  ¿Necesitas una cuenta? Haz clic aquí
                </a>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!--Spinner-->
  <div class="loading-container" [ngClass]="{'show': asyncReq}">
    <div class="loader" [ngClass]="{'show': asyncReq}"></div>
  </div>
</div>
