<div class="container-fluid">
  <div class="text-center py-3">
    <span class="message">503 Service Unavailable</span>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="text-center div-icons">
    <div>
      <span class="position-relative">
        <i class="fas fa-server"></i>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      <span class="position-relative">
        <i class="fas fa-grip-lines color"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
        <i class="fas fa-grip-lines"></i>
      </span>
      <span class="position-relative">
        <i class="fas fa-database"></i>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>
</div>
