@use '../../../variables';
@use '../../../mixins';

/*WireMove Keyframe*/
@include mixins.keyframes(wireMove) {
  from {
    left: 0px;
  }

  to {
    left: 168px;
  }
}

.message {
  font-size: 2rem;
  font-weight: bold;
  @include mixins.textGradient(variables.$color-black, variables.$color-gray);
}

hr {
  color: black;
  height: 1px;
  border: none;
  margin: 0;
}

.div-icons {
  padding-top: 100px;
}

.fa-server,
.fa-database {
  font-size: 8rem;
}

.fa-server {
  @include mixins.textGradient(#bdc3c7, #2c3e50);
}

.fa-database {
  @include mixins.textGradient(#0CAFFF, #0066b2);
}

.fa-exclamation-triangle {
  @include mixins.textGradient(#FF6700, #FFA368);
  font-size: 2.2rem;
  position: absolute;
  right: -10px;
  bottom: -3px;
  z-index: 1;
}

.fa-grip-lines {
  @include mixins.textGradient(#202020, #555d50);
  font-size: 1.5rem;
}

.fa-grip-lines.color {
  position: absolute;
  bottom: 0;
  @include mixins.textGradient(#32de84, #018749);
  @include mixins.animation('wireMove 3s alternate infinite');
}

@media (max-width: 575.98px) {
  .message {
    font-size: 1.5rem;
  }

  .fa-server,
  .fa-database {
    font-size: 6.5rem;
  }

  .fa-exclamation-triangle {
    font-size: 1.8rem;
  }
}
