#sign-page {

  #section-signup,
  #section-signup-success {
    max-width: 100%;
    font-size: 20px;
  }

  #section-signup-success {
    padding: 50px 0px;
    background: whitesmoke;

    .background-box {
      background: #FFF;
      width: 700px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 50px;
      border-radius: 1rem;
    }

    .light-link:hover {
      text-decoration: underline;
    }
  }

  i.icon-password {
    margin-left: -40px;
    cursor: pointer;
    font-size: 20px;
    color: #202020;
  }

  .filter-none {
    filter: none !important;
  }

  .image-text-selected {
    color: #07c707;
    font-size: 24px;
    font-weight: bold;
  }
}

@media (max-width: 767.98px) {
  #sign-page {
    #section-signup {
      max-width: 95%;
      font-size: 18px;

      #student-img,
      #teacher-img {
        height: 160px;
      }

      .form-label,
      .input-sign {
        font-size: 18px;
      }

      button {
        font-size: 18px;
      }
    }

    #section-signup-success {
      background: #FFF;
      padding: 20px 0px;
      font-size: 18px;

      .background-box {
        padding: 30px;
      }
    }
  }
}
