@use '../../../variables';
@use '../../../mixins';

/*Spin Keyframe*/
@include mixins.keyframes(spin) {
  100% {
    transform: rotate(360deg);
  }
}

#not-found {
  width: 100%;
  min-height: 100vh;
  height: auto;
  text-align: center;
}

.error-code,
.fa-dizzy::before {
  font-size: 10rem;
  @include mixins.textGradient(variables.$color-logo2, variables.$color-lightblue);
}

.fa-dizzy::before {
  display: inline-block;
  @include mixins.animation('spin 5s alternate infinite');
}

.message {
  font-size: 2rem;
  font-weight: bold;
  @include mixins.textGradient(variables.$color-black, variables.$color-gray);
}

a.btn {
  /*button(font-size, padding)*/
  @include mixins.button(1.25rem, 11px);
  width: 200px;
  max-width: 100%;
  background: variables.$color-logo2;
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);

  &:hover {
    background: #05609c;
    background: -webkit-linear-gradient(to right, #718bcc, #068dd6, #068dd6, #718bcc);
    background: linear-gradient(to right, #718bcc, #068dd6, #068dd6, #718bcc);
  }

  @media (max-width: 575.98px) {
    font-size: 1.1rem;
  }
}

@media (max-width: 575.98px) {

  .error-code,
  .fa-dizzy::before {
    font-size: 8rem;
  }

  .message {
    font-size: 1.5rem;
  }
}
